.content
{
  margin-left: 38px;
}
ul.menu {

    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 100px;
}

ul.menu li {
    list-style: none;
    padding: 10px 12px;
    font-size: 20px;
    font-style: normal;
    color: black;
    background: peachpuff;
    box-shadow: 2px 5px 5px;
    opacity: 0.7;
    cursor: pointer;
}

.hidden
{
    opacity: 0;
    visibility: hidden;
    display: none;
}

.test-listing {
  position: relative;
}
.test-list {
    width: 1200px;
    height: 500px;
    margin: 15px;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows:200px 200px;
    grid-gap: 10px;
}
  
.test-image {
  width: 300px;
  height: 200px;
  line-height: 0;
  overflow: hidden;
}
.test-image img {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  transition: -webkit-filter 0.3s ease-in;
  transition: filter 0.3s ease-in;
  transition: filter 0.3s ease-in, -webkit-filter 0.3s ease-in;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.test-title {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  background: rgba(90,0,10,0.4);
  color: white;
  
  display: flex;
  align-items: center;
  justify-content: center;
}


.test-listing:hover .test-title {
  opacity: 1;

}
.test-listing:hover .test-image img {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}



